Defaults        env_reset
Defaults        secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

root ALL=(ALL:ALL) ALL

{% for g in deployment_user_grps %}
%{{ g }} ALL=(ALL:ALL) ALL
{% endfor %}

Cmnd_Alias NP = {{ deployment_user_sudoers_commands | join(', ') }}

{% for g in deployment_user_grps %}
{% if deployment_user_sudo_wo_password %}
%{{ g }} ALL=(ALL) NOPASSWD:ALL
{% else %}
%{{ g }} ALL=(ALL) NOPASSWD:NP
{% endif %}
{% endfor %}
