Defaults        env_reset
Defaults        secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

root ALL=(ALL:ALL) ALL
%sudo ALL=(ALL:ALL) ALL

Cmnd_Alias NP = {% for c in deployment_user_sudoers_commands %}{{ c }}, {% endfor %}/sbin/poweroff, /sbin/reboot

#admins  ALL=(ALL) NOPASSWD:ALL
%admins  ALL=(ALL) NOPASSWD:NP
